<%= form_for(@medicion) do |f| %>
  <% if @medicion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medicion.errors.count, "error") %> prohibited this medicion from being saved:</h2>

      <ul>
      <% @medicion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :fecha_id %><br />
    <%= f.text_field :fecha_id %>
  </div>
  <div class="field">
    <%= f.label :indicador_id %><br />
    <%= f.text_field :indicador_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
