<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @perspectiva.nombre %>
</p>

<p>
  <b>Dimension:</b>
  <%= @perspectiva.dimension_id %>
</p>


<%= link_to 'Edit', edit_perspectiva_path(@perspectiva) %> |
<%= link_to 'Back', perspectivas_path %>
